[submodule "libs/boost"]
	path = libs/boost
	url = https://github.com/openpeer/boost.git
[submodule "libs/cryptopp"]
	path = libs/cryptopp
	url = https://github.com/openpeer/cryptopp.git
[submodule "libs/udns"]
	path = libs/udns
	url = https://github.com/openpeer/udns.git
[submodule "libs/webrtc"]
	path = libs/webrtc
	url = https://github.com/openpeer/webrtc.git
[submodule "libs/zsLib"]
	path = libs/zsLib
	url = https://github.com/openpeer/zsLib.git
[submodule "libs/ortc-lib"]
	path = libs/ortc-lib
	url = https://github.com/openpeer/ortc-lib.git
[submodule "libs/op-stack-cpp"]
	path = libs/op-stack-cpp
	url = https://github.com/openpeer/op-stack-cpp.git
[submodule "libs/op-core-cpp"]
	path = libs/op-core-cpp
	url = https://github.com/openpeer/op-core-cpp.git
